<div style="text-align: center;color:whitesmoke;">
    Error:
    <form>
        <textarea name="" id="" cols="30" rows="2" style="background-color: black;
        width: 735px;
        color: rgb(111, 104, 104);
        font-size: 14px;
        padding: 10px;
        line-height: 17px;
        outline: none;
        border-radius: 3px;
        border: 1px solid #aaaaaa;
        font-family: 'Consolas';">
            <% if (errorData != null && errorData != '') { %>
                <%= errorData %>
            <%}%>
        </textarea>
    </form>
</div>
<div style="text-align: center;">
    <button><a href="/">New Code</a></button>
</div>