<div style="margin:0 auto;background-color: black;color:whitesmoke;width:735px">
<div style="text-align: center; color:whitesmoke;">
    The path of the code is stored as: 
    <%= fileName%>
</div>
<div style="padding: 10px;">
    <span style="font-size: 18px;font-weight: bold;">Output console</span>
    <div>
    <% if (result != null && result != '') { %>
           <%= result %>
    <%}%>
    </div>
</div>
</div>
<div style="text-align: center;">
    <button><a href="/">New Code</a></button>
</div>